[ALMemory]
# Nickname                          : ALMemoryKey

HeadPitchHardness                   : Device/SubDeviceList/HeadPitch/Hardness/Actuator/Value
HeadPitchPositionSensorValue        : Device/SubDeviceList/HeadPitch/Position/Sensor/Value

RShoulderPitchHardness              : Device/SubDeviceList/RShoulderPitch/Hardness/Actuator/Value
RShoulderPitchPositionActuatorValue : Device/SubDeviceList/RShoulderPitch/Position/Actuator/Value

#[ADC24]
# ChannelNumber must be in 1..16
# VoltageRange must be HRDL_[XX]_MV, where [XX] must be 39, 78, 156, 313, 625, 1250 or 2500
# End must be single-ended or differential

# Nickname  : ChannelNumber VoltageRange End

#BMS_Current : 1 HRDL_1250_MV single-ended
#BMS_Voltage : 2 HRDL_2500_MV single-ended